// COLORS
$color-primary: #292929;
$color-primary-light: #333333;
$color-primary-dark: #222222;

$color-secondary: #ff6500;
$color-gold: #bf9b30;
$color-blue: #788893;
$color-white: #fff;
$color-sidenav: #2d2d2d;

$color-gray: #7a7a7a;
$color-gray-light-1: #bebebe;
$color-gray-light-2: #c6c6c6;
